{% extends 'base.html.twig' %}

{% block body %}
    <div class="content">
        <div class="container-fluid">
            <div class="row">


                <div class="col-lg-8 col-md-7 col-lg-offset-2">
                    <div class="">
                        <div class="header">
                            <h4 class="title  text-center">Binvenido a DHR sistema</h4>
                            <hr>
                        </div>
                        <div class="content">





                        </div>

                    </div>

                </div>


            </div>
        </div>
    </div>
{% endblock %}

